<%- include('../partials/header', {message: message}) %>

<body id="page-top">
  <div id="wrapper">
    <%- include('../partials/slidebar') %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%- include('../partials/navbar', { result: user}) %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><%- message %></h1>
            <a href="/admin/manage/forum/add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm"></i> Add Forum</a>
          </div>

          <!-- CONTENT ROW -->
          <h5 class="mt-2 mb-2">List of all <%= message %></h5>
          <div class="row ml-1">
            Search: <input type='text' id='txt_searchall' class="form-control ml-2 mb-2 vertical-align"
              style="width: 300px;" placeholder='Search <%= message %>'>
          </div>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class='notfound' style="display: none;">
                <td>No record found!!</td>
              </tr>

              <% result.forEach(forum => { %>
              <tr>
                <td title="<%= forum.title %>"><%= forum.title.substring(0, 25) %></td>
                <td><%- forum.content.substring(0, 65) %> ...</td>
                <td>
                  <div class="row">
                    <a href="#" data-toggle="modal" data-target="#view<%= forum._id %>"
                      title="Views <%= forum.title %>"><i class="fas fa-eye fa-sm fa-fw mr-3"></i></a>
                    <a href="/admin/manage/forum/<%= forum._id %>/edit" title="Edit <%= forum.title %>"><i
                        class="fas fa-edit fa-sm fa-fw mr-3"></i></a>
                    <% if(forum.isActive === true) { %>
                    <a href="#" data-toggle="modal" data-target="#disableUser<%= forum._id %>"
                      title="Disable <%= forum.title %>"><i class="fas fa-user-slash fa-sm fa-fw mr-3"></i></a>
                    <% } else { %>
                    <a href="#" data-toggle="modal" data-target="#disableUser<%= forum._id %>"
                      title="Enable <%= forum.title %>"><i class="fas fa-user fa-sm fa-fw mr-3"></i></a>
                    <% } %>
                    <a href="#" data-toggle="modal" data-target="#delete<%= forum._id %>"
                      title="Delete <%= forum.title %>"><i class="fas fa-trash fa-sm fa-fw mr-3"></i></a>
                  </div>
                </td>
              </tr>

              <!-- VIEWS MODAL -->
              <div class="modal fade" id="view<%= forum._id %>" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= forum.title %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%- forum.content %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- DISABLE MODAL-->
              <div class="modal fade" id="disableUser<%= forum._id %>" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Disable <%= forum.title %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>By selecting disable mode, the particular forum can not be access anything of his dashboard
                        untill the next time you enable</p>
                      <form action="/admin/manage/forum/<%= forum._id %>/active?_method=PUT" method="POST">
                        <div class="form-group row">
                          <div class="col-md-4">
                            <label for="inlineFormCustomSelect">Preference</label>
                          </div>
                          <div class="col-md-8">
                            <select name="isActive" class="form-control form-control-sm" id="inlineFormCustomSelect">
                              <% if(forum.isActive === true) { %>
                              <option value="true" selected>Enable</option>
                              <option value="false">Disable</option>
                              <% } else { %>
                              <option value="true">Enable</option>
                              <option value="false" selected>Disable</option>
                              <% } %>
                            </select>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- DELETE MODAL-->
              <div class="modal fade" id="delete<%= forum._id %>" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Delete <%= forum.title %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Once you delete this details, you may no longer to access in future. Are you sure?</p>
                      <form action="/admin/manage/forum/<%= forum._id %>/delete?_method=DELETE" method="POST">
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary btn-sm">Yes, Delete </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Pagination -->
      <nav aria-label="..." class="pr-3">
        <% if(pages > 0) { %>
          <ul class="pagination justify-content-end">
            <% if(current == 1) { %>
              <li class="page-item disabled">
                <a class="page-link">First</a>
              </li>
              <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if( i !== 1) { %>
              <li class="page-item disabled">
                <a class="page-link">...</a>
              </li>
            <% } %>     
            <% for( ; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                  <li class="page-item active">
                    <a class="page-link" href="/admin/manage/forum/<%= i %>"><%= i %></a>
                  </li>
                <% } else { %>
                  <li class="page-item">
                    <a class="page-link" href="/admin/manage/forum/<%= i %>"><%= i %></a>
                  </li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="page-item disabled">
                    <a class="page-link">...</a>
                  </li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
              <li class="page-item disabled">
                <a class="page-link">Last</a>
              </li>
            <% } else { %>
              <li class="page-item">
                <a class="page-link" href="/admin/manage/forum/<%= pages %>">Last</a>
              </li>
            <% } %>
          </ul>
        <% } %>
      </nav>

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <!-- Logout Modal-->
  <%- include('../partials/logout') %>
  <%- include ('../partials/footer') %>