<%- include('../partials/header', {message: message}) %>

<body id="page-top">
  <div id="wrapper">
    <%- include('../partials/slidebar') %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%- include('../partials/navbar', { result: user}) %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><%- message %></h1>
            <a href="#" data-toggle="modal" data-target="#addMembershipPlan"
              class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm"></i> Add
              Membership Plan</a>
          </div>

          <!-- Add Membership Plan -->
          <div class="modal fade" id="addMembershipPlan" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Add Membership Plan</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/admin/manage/membership" method="POST">
                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="planName" class="col-form-label float-left">Plan Name</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" name="planName" class="form-control form-control-sm" minlength="2"
                          maxlength="12" id="planName" required>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="duration" class="col-form-label float-left">Duration</label>
                      </div>
                      <div class="col-md-8">
                        <select name="duration" class="form-control form-control-sm" id="duration" required>
                          <option value="1" selected>1 month</option>
                          <option value="2">2 months</option>
                          <option value="3">3 months</option>
                          <option value="6">6 months</option>
                          <option value="9">9 months</option>
                          <option value="12">12 months</option>
                          <option value="24">24 months</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="price" class="col-form-label float-left">Price</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" name="price" class="form-control form-control-sm" id="price" minlength="1"
                          maxlength="5" required>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="plan_for" class="col-form-label float-left">Plan for</label>
                      </div>
                      <div class="col-md-8">
                        <select name="plan_for" class="form-control form-control-sm" id="plan_for" required>
                          <option value="Landlord" selected>Landlord</option>
                          <option value="ContractorAndRealtor">Contractor & Realtor</option>
                        </select>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary btn-sm">Add Plan</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- CONTENT ROW -->
          <div class="row">

              <div class="row ml-1">
                Search: <input type='text' id='txt_searchall' class="form-control ml-2 mb-2 vertical-align"
                  style="width: 300px;" placeholder='Search <%= message %>'>
              </div>

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Plan Name</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Price</th>
                    <th scope="col">Plan for</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class='notfound' style="display: none;">
                    <td>No record found!!</td>
                  </tr>

                  <% result.forEach(plan => { %>
                    <tr>
                      <td><%= plan.planName %></td>
                      <td><%= plan.duration %></td>
                      <td><%= plan.price %></td>
                      <td><%= plan.plan_for.replace(/([A-Z])/g, ' $1').trim() %></td>
                      <td>
                        <div class="row">
                            <a href="#" data-toggle="modal" data-target="#editPlan<%= plan._id %>"
                              title="Edit <%= plan.planName %>"><i class="fas fa-edit fa-sm fa-fw mr-3"></i></a>
                            <% if(plan.isActive === true) { %>
                            <a href="#" data-toggle="modal" data-target="#active<%= plan._id %>"
                              title="Disable <%= plan.planName %>"><i class="fas fa-user-slash fa-sm fa-fw mr-3"></i></a>
                            <% } else { %>
                            <a href="#" data-toggle="modal" data-target="#active<%= plan._id %>"
                              title="Enable <%= plan.planName %>"><i class="fas fa-user fa-sm fa-fw mr-3"></i></a>
                            <% } %>
                            <a href="#" data-toggle="modal" data-target="#delete<%= plan._id %>"
                              title="Delete <%= plan.planName%>"><i class="fas fa-trash fa-sm fa-fw mr-3"></i></a>
                        </div>
                      </td>
                    </tr>
                  <!-- EDIT MODEL-->
                  <div class="modal fade" id="editPlan<%= plan._id %>" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Edit <%= plan.planName %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="/admin/manage/membership/<%= plan._id %>/edit?_method=PUT" method="POST">
                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="planName" class="col-form-label float-left">Plan Name</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" name="planName" class="form-control form-control-sm" minlength="2"
                                  maxlength="12" id="planName" value="<%= plan.planName %>" required>
                              </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="duration" class="col-form-label float-left">Duration</label>
                              </div>
                              <div class="col-md-8">
                                <select name="duration" class="form-control form-control-sm" id="inlineFormCustomSelect">
                                  <option value="1" selected>1 month</option>
                                  <option value="2">2 months</option>
                                  <option value="3">3 months</option>
                                  <option value="6">6 months</option>
                                  <option value="9">9 months</option>
                                  <option value="12">12 months</option>
                                  <option value="24">24 months</option>
                                </select>
                              </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="price" class="col-form-label float-left">Price</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" name="price" class="form-control form-control-sm" id="price" minlength="1"
                                  value="<%= plan.price %>" maxlength="5" required>
                              </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="plan_for" class="col-form-label float-left">Plan for</label>
                              </div>
                              <div class="col-md-8">
                                <select name="plan_for" class="form-control form-control-sm" id="plan_for" required>
                                  <option value="Landlord" selected>Landlord</option>
                                  <option value="ContractorAndRealtor">Contractor & Realtor</option>
                                </select>
                              </div>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- DISABLE MODAL-->
                  <div class="modal fade" id="active<%= plan._id %>" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Disable <%= plan.planName %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>By selecting disable mode, the particular user can not be access anything of his dashboard untill
                            the next time you enable his/her</p>
                          <form action="/admin/manage/membership/<%= plan._id %>/active?_method=PUT" method="POST">
                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="inlineFormCustomSelect">Preference</label>
                              </div>
                              <div class="col-md-8">
                                <select name="isActive" class="form-control form-control-sm" id="inlineFormCustomSelect">
                                  <% if(plan.isActive === true) { %>
                                  <option value="true" selected>Enable</option>
                                  <option value="false">Disable</option>
                                  <% } else { %>
                                  <option value="true">Enable</option>
                                  <option value="false" selected>Disable</option>
                                  <% } %>
                                </select>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- DELETE MODAL-->
                  <div class="modal fade" id="delete<%= plan._id %>" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Delete <%= plan.planName %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Once you delete thier profile, you may no longer to access his/her in future. Are you sure?</p>
                          <form action="/admin/manage/membership/<%= plan._id %>/delete?_method=DELETE" method="POST">
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary btn-sm">Yes, Delete <%= plan.planName %></button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%  }) %>
                </tbody>
              </table>
          </div>
        </div>
      </div>
      
       <!-- Pagination -->
       <nav aria-label="..." class="pr-3">
        <% if(pages > 0) { %>
          <ul class="pagination justify-content-end">
            <% if(current == 1) { %>
              <li class="page-item disabled">
                <a class="page-link">First</a>
              </li>
              <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if( i !== 1) { %>
              <li class="page-item disabled">
                <a class="page-link">...</a>
              </li>
            <% } %>     
            <% for( ; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                  <li class="page-item active">
                    <a class="page-link" href="/admin/manage/membership/<%= i %>"><%= i %></a>
                  </li>
                <% } else { %>
                  <li class="page-item">
                    <a class="page-link" href="/admin/manage/membership/<%= i %>"><%= i %></a>
                  </li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="page-item disabled">
                    <a class="page-link">...</a>
                  </li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
              <li class="page-item disabled">
                <a class="page-link">Last</a>
              </li>
            <% } else { %>
              <li class="page-item">
                <a class="page-link" href="/admin/manage/membership/<%= pages %>">Last</a>
              </li>
            <% } %>
          </ul>
        <% } %>
      </nav>

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <!-- Logout Modal-->
  <%- include('../partials/logout') %>
  <%- include ('../partials/footer') %>